/* Art zone styles */
/* #art-zone{height: 100vh;}
#picker-zone{background-color: #495057;}
#board-zone{background-color: #1d2124;}

.test-drag{
background-color: #dc3545;
color: #f8f9fa;
} */

body{background-color: #343a40!important;}

    .artboard{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    }
        .dropzone{
            padding: 10px;
        }
        .dropzone

        .drop-left{
            background-color: #d39e00;
        }

            .items-list{
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style-type: none;
                padding: 0;
            }
                .item{
                    margin: 25px 0;
                }
                .draggable{
                    background-color: #343a40;
                    color: #ffd044;
                    padding: 10px;
                    list-style: none;
                }

        .drop-right{
            background-color: #dae0e5;
        }